**/*.pyc
**/__pycache__
.cache/
dist/
MANIFEST
build/
**/.ipynb_checkpoints/
doc/
examples/*.wav
examples/*.html
examples/thumbs/
*.egg-info/
gks.svg
examples/standalone.*
examples/.metadata_CompilerRunner
.local/
