**/.ipynb_checkpoints/
**/*.pyc
**/__pycache__
.*cache/
*.egg-info/
MANIFEST
dist/
deploy/
build/
doc/
examples/*.wav
examples/*.html
examples/thumbs/
examples/standalone.*
examples/.metadata_CompilerRunner
gks.svg
.local/
.ipython/
.jupyter/*
!.jupyter/jupyter_notebook_config.py
tmp/
.gdb*
